#goals-section {
    float: left;
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color1;
    z-index: 1;

    .goals-container {
        position: relative;
        width: 600px;
        height: 300px;
        margin: 20px auto;
        padding: 30px;
        z-index: 3;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-left: 1px solid $color5;
        border-right: 1px solid $color5;
        background-color: $color2;
        color: $color5;

        h1 {
            z-index: -1;
            font-size: 5em;
            font-weight: 700;
            position: absolute;
            right: 20px;
            bottom: -50px;
            color: $color1;
        }

        .goals-list {
            padding: 0;
            margin: 0;
            list-style-type: none;

            li {
                margin: 3px;
                border-left: 3px dotted;
                padding: 5px 0 0 10px;
                font-size: 1.2em;
            }
            @for $i from 0 to 7 {
                li:nth-child(#{$i + 1}) {
                    color: scale-color($color5, $saturation: -15%*$i, $lightness: -5%*$i);
                }
            }
        }
    }

    &::before {
        content: "";
        height: 2px;
        width: 100%;
        z-index: 2;
        border-top: 2px dotted $color4;
        display: block;
        position: absolute;
        left: -50%;
        top: 50%;
    }

    &::after {
        content: "";
        height: 100vh;
        width: 2px;
        border-right: 2px dotted $color4;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: 2px;
        margin-left: -1px;
    }
}

@media only screen and (max-width: 768px) {
    #goals-section {
        width: 100%;
        float: none;

        .goals-container {
            width: 90%;
            padding: 20px;

        }

        &::before,
        &::after {
            display: none;
        }
    }
}
