#home-section {
	display: flex;
	position: relative;
	height: 100%;
	justify-content: center;
	align-items: center;

	.home-container {
		min-width: 600px;
		min-height: 200px;
		text-align: center;
		margin: 20px auto;
		padding: 30px;
		z-index: 1;
		border-top-left-radius: 50px;
		border-bottom-right-radius: 50px;
		border: 1px solid $color3;
		background-color: $color2;
		animation: pulseHomeContainer 10s ease-in-out infinite;

		h1 {
			font-size: 2.5em;
			color: $fontcolor;
		}

		h2 {
			color: $color5;
		}
	}

	&::after {
		content: "";
		height: 100%;
		width: 2px;
		border-right: 2px dotted $color4;
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -1px;
	}
}

@media only screen and (max-width: 768px) {
	#home-section {
		.home-container {
			min-width: 85%;
			width: 85%;

			h1 {
				font-size: 2em;
			}

			h2 {
				font-size: 1.2em;
			}
		}

		&::after {
			display: none;
		}
	}
}

@media only screen and (max-width: 500px) {
	#home-section {
		height: auto;
		margin: 100px 0;
	}
}
