#projects-section {
    float: left;
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color1;
    z-index: 1;

    .arrow-left, .arrow-right {
        z-index: 10;
        position: absolute;
        margin: 0 20px;

        i {
            font-size: 30px;
            color: $fontcolor;
            opacity: 0.5;
            transition: all 0.3s ease;
        }

        &:hover i {
            cursor: pointer;
            opacity: 1;
        }

        &:active i {
            transform: scale(0.9);
        }
    }

    .arrow-left {
        left: 5%;
    }

    .arrow-right {
        right: 5%;
    }

    .arrow-mobile {
        display: none;
        position: absolute;
        z-index: 10;
        bottom: 5%;
        font-size: 30px;
        color: darken($color1, 10%);
        opacity: 0.5;
        animation: pulseArrowMobile 30s ease-in-out infinite;
    }

    h1 {
        position: absolute;
        color: $fontcolor;
        top: 20vh;
        left: 10vw;
        z-index: 4;
        border-bottom: 1px solid $color5;
    }

    .projects-container {
        display: flex;
        align-items: center;
        width: 90%;
        height: 500px;
        margin: 20px auto;
        padding: 30px;
        position: relative;
        z-index: 3;
        background: $color2;
        background: linear-gradient(0deg, $color1 0%, $color2 50%, $color1 100%);
        border-left: 1px solid $color5;
        border-right: 1px solid $color5;
        overflow: hidden;


        .project-wrapper {
            min-width: 300px;
            height: 200px;
            position: relative;
            margin: 0 30px;
            background-color: rgba(0, 0, 0, 0.2);

            &:hover .project-bg {
                filter: blur(2px) brightness(0.3);
                box-shadow: 0 0 50px $color4;
            }

            &:hover .project-anchors {
                display: flex;
            }
        }

        .project-bg {
            min-width: 300px;
            height: 200px;
            z-index: 4;
            position: absolute;
            left: 0;
            top: 0;
            filter: blur(2px) brightness(0.1);
            transition: all 0.3s ease;
        }

        @mixin projectBg($project) {
            .#{$project} {
                background-image: url(unquote('"./img/card-"#{$project}".jpg"'));
            }
        }

        @include projectBg("unsplash");
        @include projectBg("jar");
        @include projectBg("jdm");
        @include projectBg("portfolio2");
        @include projectBg("portfolio1");
        @include projectBg("psdtohtml2");
        @include projectBg("psdtohtml1");
        @include projectBg("todos");
        @include projectBg("stickynotes");
        @include projectBg("snakegame");

        .project-content-wrapper {
            position: relative;
            z-index: 5;
            padding: 20px;

            h3 {
                color: $color5;
                margin: 10px 0;
            }

            p {
                font-size: 0.9em;
                text-align: justify;
                color: darken($fontcolor, 0.9);
            }
        }

        .project-anchors {
            display: none;
            justify-content: space-around;
            align-items: center;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 6;
            width: 300px;
            height: 40px;
            transition: all 0.3s ease;

            a {
                text-decoration: none;

                &:hover {
                    text-shadow: none;
                    color: $color5;
                }
            }

            i {
                font-size: 1.2em;
                margin: 0 3px;
            }
        }


    }

    &::before {
        content: "";
        height: 2px;
        width: 100%;
        z-index: 2;
        border-top: 2px dotted $color4;
        box-shadow: 0 0 20px $color4;
        display: block;
        position: absolute;
        left: -50%;
        top: 50%;
    }

    &::after {
        content: "";
        height: 100vh;
        width: 2px;
        border-right: 2px dotted $color4;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: 2px;
        margin-left: -1px;
    }
}

@media only screen and (max-width: 768px) {
    #projects-section {
        width: 100%;
        margin: 100px 0;
        height: auto;
        float: none;

        &::before,
        &::after {
            display: none;
        }

        .arrow-left, .arrow-right {
            display: none;
        }

        .arrow-mobile {
            display: block;
        }

        h1 {
            font-size: 1.5em;
            top: 25px;
        }

        .projects-container {
            height: 400px;

            .project-wrapper {
                min-width: 180px;
                height: 220px;
                margin: 0 15px;
                border-top: 2px solid $color1;
                border-left: 2px solid $color1;
                border-radius: 20px;
                background-color: transparent;
            }

            .project-bg {
                display: none;
            }

            .project-content-wrapper {
                padding: 10px;

                h3 {
                    color: $color5;
                    font-size: 1em;
                }

                p {
                    font-size: 0.75em;
                }
            }

            .project-anchors {
                display: flex;
                width: 180px;
                height: 40px;
                background: transparent;

                i {
                    font-size: 1em;
                }
            }
        }
    }
}
