#stack-section {
	display: flex;
	position: relative;
	height: 100%;
	float: left;
	width: 50%;
	justify-content: center;
	align-items: center;

	.stack-container {
		max-width: 70%;
		min-height: 30%;
		text-align: center;
		margin: 0 auto;
		padding: 20px 30px;
		z-index: 2;
		background-color: $color2;
		box-shadow: 0 0 100px $color4;

		h1 {
			font-size: 2em;
			color: $fontcolor;
		}
	}

	&::before {
		content: "";
		z-index: 1;
		height: 90vh;
		width: 2px;
		border-right: 2px dotted $color4;
		display: block;
		position: absolute;	
		left: 50%;
		top: -50%;
		margin-left: -1px;
	}

	.tech-gallery {
		display: flex;
		justify-content: space-around;
		align-content: center;
		align-items: center;
		flex-wrap: wrap;

		[class^="tech-wrapper"] {
			transform: none; 
			filter: blur(1px) grayscale(0.8);
			margin: 10px 20px;

			img {
				height: 80px;
				width: 80px;
			}
		}
		
		.tech-wrapper1 {
			@include techPulse("strong", #ff4500)
		}
		.tech-wrapper2 {
			@include techPulse("strong", #2973ff)
		}
		.tech-wrapper3 {
			@include techPulse("medium", #ffc016)
		}
		.tech-wrapper4 {
			@include techPulse("medium", #eb2931)
		}
		.tech-wrapper5 {
			@include techPulse("medium", #c92f00)
		}
		.tech-wrapper6 {
			@include techPulse("strong", #001c91)
				}
		.tech-wrapper7 {
			@include techPulse("strong", #f03a4f)
				}
		.tech-wrapper8 {
			@include techPulse("medium", #3efcdf)
				}
		.tech-wrapper9 {
			@include techPulse("weak", #c31f1f)
				}
		.tech-wrapper10 {
			@include techPulse("strong", #e84275)
				}
		.tech-wrapper11 {
			@include techPulse("weak", #0869bc)
				}
		.tech-wrapper12 {
			@include techPulse("weak", #b332e3)
				}
/*		.level-strong {
			animation: techStrongPulse 9s ease-in-out 0s infinite;
		}

		.level-medium {
			animation: techMediumPulse 9s ease-in-out 3s infinite;
		}

		.level-weak {
			animation: techWeakPulse 9s ease-in-out 6s infinite;
		}*/
	}
}