@keyframes pulseHomeContainer {
    0%,
    19%, 19.5%, 20%, 20.5%, 21%, 21.5%,
    26%, 26.5%, 32%, 32.5%, 33%,
    52%, 52.2%, 52.75%, 53%, 53.4%, 54%, 54.5%, 55%, 55.4%,
    70%, 70.4%, 70.8%, 73.25%, 73.75%,
    100%
    {box-shadow: 0 0 150px rgba(32, 252, 143, 1);}

    19.25%, 19.75%, 20.25%, 20.75%, 21.25%,
    26.25%, 26.75%, 31.9%, 32.2%, 32.75%,
    52.1%, 52.45%, 52.85%, 53.2%, 53.7%, 54.25%, 54.75%, 55.2%,
    70.2%, 70.6%, 71%, 73%, 73.5%
    {box-shadow: 0 0 0 rgba(32, 252, 143, 1);}
}

@keyframes slideHomeDeveloper {
    0%, 10%, 40%, 45%, 60%, 80% { // front end
        transform: translate(0, 2.4em);
    }
    30%, 50%, 90%, 100% { // web
        transform: translate(0, 1.2em);
    }
    20%, 35%, 70%, 95% { // php
        transform: translate(0, 0);
    }
}

@keyframes iterateWhoisList {
    0%, 10%, 20%, 100% {
        border-left: 1px solid rgba(63, 94, 90, 1);
        border-bottom: 1px solid rgba(63, 94, 90, 1);
    }
    15% {
        border-left: 1px solid rgba(32, 252, 143, 1);
        border-bottom: 1px solid rgba(32, 252, 143, 1);
    }
}

@keyframes pulseArrowMobile {
    7%, 10%, 11%, 28%, 30%, 40%, 48%, 55%, 74%, 77%, 95%, 97%{
        text-shadow: 0 0 30px rgba(32, 252, 143, 1);
    }
    0%, 2%, 18%, 23%, 33%, 50%, 53%, 60%, 68%, 87%, 90%, 100%{
        text-shadow: 0 0 10px rgba(32, 252, 143, 1);
    }
}