@mixin strongPulseKeyframes($color) {
    $colorName: str-slice(unquote("#{$color}"), 2);
    $name: techStrongPulse+$colorName;
    @keyframes #{$name} {
        0%, 33%, 100% {
            filter: brightness(1) grayscale(0.8);
        }

        15% {
            filter: brightness(1.5) grayscale(0) drop-shadow(0 0 30px $color);
        }
    }
}

@mixin mediumPulseKeyframes($color) {
    $colorName: str-slice(unquote("#{$color}"), 2);
    $name: techMediumPulse+$colorName;
    @keyframes #{$name} {
        0%, 33%, 100% {
            filter: brightness(1) grayscale(0.8);
        }

        15% {
            filter: brightness(1.1) grayscale(0.3) drop-shadow(0 0 20px darken($color, 0.3));
        }
    }
}

@mixin weakPulseKeyframes($color) {
    $colorName: str-slice(unquote("#{$color}"), 2);
    $name: techWeakPulse+$colorName;
    @keyframes #{$name} {
        0%, 33%, 100% {
            filter: grayscale(0.8);
        }

        15% {
            filter: grayscale(0.5) drop-shadow(0 0 10px darken($color, 0.5));
        }
    }
}

@mixin techPulse($level, $color) {
    @if $level == "strong" {
        @include strongPulseKeyframes($color);
        $colorName: str-slice(unquote("#{$color}"), 2);
        animation: techStrongPulse+$colorName 9s ease-in-out 0s infinite;
    } @else if $level == "medium" {
        @include mediumPulseKeyframes($color);
        $colorName: str-slice(unquote("#{$color}"), 2);
        animation: techMediumPulse+$colorName 9s ease-in-out 3s infinite;
    } @else {
        @include weakPulseKeyframes($color);
        $colorName: str-slice(unquote("#{$color}"), 2);
        animation: techWeakPulse+$colorName 9s ease-in-out 6s infinite;
    }
    @media only screen and (max-width: 768px) {
        filter: drop-shadow(0 0 10px transparentize(darken($color, 0.3), 0.5));
    }
}