/* Coolors Exported Palette - coolors.co/2d2d2a-353831-38423b-3f5e5a-20fc8f */

/* RGB */
$color1: rgba(45, 45, 42, 1);
$color2: rgba(53, 56, 49, 1);
$color3: rgba(56, 66, 59, 1);
$color4: rgba(63, 94, 90, 1);
$color5: rgba(32, 252, 143, 1);

$fontcolor: #f4f4f4;